body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

/* Estil per el botó per a regresar al menú*/
#contenidor_boto_menu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
#boto_menu {
    width: 100%;
    height: auto;
    padding-top: 25%;
    padding-bottom: 25%;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(190, 189, 189);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}
#boto_menu:hover {
    background-color: darkgray;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#boto_menu:active {
    transform: scale(0.9);
}

nav {
    background-color: papayawhip;
    width: 50%;
}
nav a {
    display: block;
    width: 90%;
    padding: 5px;
}
nav a:hover {
    background-color: rgb(238, 222, 198);
}

img {
    max-width: 20%;
}
#demostracio{
    max-width: 100%;
    border-radius: 25px;
}

pre {
    width: 50%;
    background-color: cornsilk;
    color: grey;
    padding: 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.java {
    width: 80%;
}
code {
    font-family: monospace;
}

/*
    Si una taula es més grán horitzontalment que la finestra, s'adapta
    per a mostrar el seu contingut correctament.
*/
.deslitzar_horitzontal {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 30px;
}
table {
    width: auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    max-width: 200px;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: burlywood;
}