body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

img {
    max-width: 20%;
}
#conceptual{
    max-width: 100%;
    border-radius: 25px;
}

code {
    width: 50%;
    background-color: cornsilk;
    color: grey;
    padding: 10px;
}
code pre {
    white-space: pre-wrap;
}

/*
    Si una taula es més grán horitzontalment que la finestra, s'adapta
    per a mostrar el seu contingut correctament.
*/
.deslitzar_horitzontal {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 30px;
}
table {
    width: auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    max-width: 200px;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: burlywood;
}